<div class="container" >

  <div class="row">
    <div class="col-xs-12 col-md-3" id="profile-left">
      <div class="row">
        <div class="col-xs-12 col-md-3 ThreeD" id="profile-pic" ng-style="{'background-image':'url({{currentUser.picture}})'}">
        </div>
      </div>
      <div class="row ThreeD" id="user-info">
        <div class="col-xs-12">
          <br>
          {{ currentUser.nickname }}
          {{ currentUser.email }}
        </div>
      </div>
    </div>



  <div class="col-xs-12 col-md-3" id="profile-left">
    <div class="row">
      <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon" id="infoOne">
      </div>
    </div>
    <div class="row ThreeD infoPane">
      <div class="col-xs-12">
        <br>
            <div class="row infoPaneInfo">
              <div class="col-xs-12">
                Snippets Created: 192
              </div>
              <div class="col-xs-12">
                Comments: 32
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3" id="profile-left">
    <div class="row">
      <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon" id="infoTwo">
      </div>
    </div>
    <div class="row ThreeD infoPane">
      <div class="col-xs-12">
        <div class="row infoPaneInfo">
        <br>
          <div class="col-xs-12">
            Favorited Snippets: 21
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3" id="profile-left">
    <div class="row">
      <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon" id="infoThree">
      </div>
    </div>
    <div class="row ThreeD infoPane">
      <div class="col-xs-12">
        <br>
          <div class="row infoPaneInfo">
            <div class="col-xs-12">
              Upvotes: 45
            </div>
            <div class="col-xs-12">
              Answers: 39
            </div>
          </div>
      </div>
    </div>
  </div>


    <!-- <div class="col-xs-12 col-md-9" id="profile-right">
      <div class="row">
        <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon">
        </div>
        <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon">
        </div>
        <div class="col-xs-12 col-md-3 ThreeD infoPaneIcon">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-3 infoPane ThreeD">
          Snippets
            <div class="row infoPaneInfo">
              <div class="col-xs-12">
                Created: 192
              </div>
              <div class="col-xs-12">
                Comments: 32
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 infoPane ThreeD">
          Favorites
            <div class="row infoPaneInfo">
              <div class="col-xs-12">
                Favorited: 21
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 infoPane ThreeD">
          Fame
            <div class="row infoPaneInfo">
              <div class="col-xs-12">
                Upvotes: 45
              </div>
              <div class="col-xs-12">
                Answers: 39
              </div>
            </div>
        </div>
      </div>
    </div> -->
  </div>
</div>